@model IEnumerable<AdvertisementMVC.ViewModels.AdvertisementViewModel>

@section styles{
    <link rel="stylesheet" href="~/css/add-page.css">
}

@{
    ViewData["Title"] = "Advertisements";
}

<h1>@ViewData["Title"]</h1>

<div>
    
</div>