@model IEnumerable<HomefinderAPI.Models.Advertisement>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-medium">
        <div class="advertisement__container">
            <div class="search-container">
                <p>Sökfilter</p>
                <hr>
                <p>Skriv adress</p>
                <p>Ange pris</p>
                <button class="sort-by-ad">Filtrera efter bostad</button>
            </div>
            <div class="advertisement__card">
                <h1>Bostad 1</h1>
            </div>
            <div class="advertisement__card">
                <h1>Bostad 2</h1>
            </div>
            <div class="advertisement__card">
                <h1>Bostad 3</h1>
            </div>
        </div>
    </div>