@model IEnumerable<HomefinderAPI.Models.Advertisement>

@{
    ViewData["Title"] = "Home Page";
}

<section class="advertisement">

    <div class="container-medium">
        <p>container-medium</p>
        <div class="advertisement__container">
            <div class="advertisement__card">
                @*@foreach (var ad in Model)
                {

                }*@
            </div>
        </div>
    </div>

</section>
