html {
  background-color: #EDEDED;
  @media only screen and (max-width: 425px) {
    background-color: #FFFFFF;
  }
}
body {
  height: 100vh;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: unset;
}

.home-sidebar-container {
  padding: 1.5rem;
  background-color: #FFFFFF;
  height: 91.3vh;
  height: 91.3svh;
}

.home-sidebar-heading {
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 1px solid black;
}