.advertisement__container{
height: auto;
width: auto;
padding: 1.5em;
background-color: var(--primary-color);
border-radius: 25px;
opacity: 0.85;
}

.advertisement__card{
display:flex;
background-color: #fff;
height: 7em;
width: 42em;
margin: 1em auto 1em auto;
}

.advertisement__card-image{
    height: 7em;
    width: auto;
}

.advertisement__card p{
    margin: 0.5em 1em;
}

.advertisement__card span{
    margin-left: 3em;
}

.search__container{
justify-content: center;
}

.search__container p{
    color: #fff;
}