
:root {
    --primary-color: #243778;
    --text-color: #ffffff;
}

.container-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1020px;
    max-width: 100%;
    padding: 0 1em;
    margin: auto;
    height: auto;
}

.container-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    max-width: 100%;
    padding: 0 1em;
    margin: auto;
    height: auto;
}

.container-small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    max-width: 100%;
    padding: 0 1em;
    margin: auto;
    height: auto;
}
