<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AdvertisementMVC</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/utilities.css">
	<link rel="stylesheet" href="~/css/advertisements.css">
</head>

<body>
	<div class="background-image">
    <img src="../images/city.jpg" alt="City" />
</div>

	<nav id="navbar">
				<img src="../images/home.png" class="navbar__icon"></i>
		<h1 class="navbar__logo">
				Home
			<span class="text-primary">
				Finder
			</span>
		</h1>
	</nav>

	<main role="main">
		@RenderBody()
	</main>

	<footer>
    <p>&#169; 2023 HomeFinder</p>
  </footer>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
