@model AdvertisementMVC.ViewModels.AdvertisementFilterViewModel

<div class="search__container">
    <div class="search__container-title">
        <h2>Sökfilter</h2>
    </div>
    <hr>
    <form class="form" asp-action="Find" method="post">
        <div class="search__container-top">
             <div class="search__container-adress-field search-text-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input asp-for="Address" class="search__container-address search-text-box" name="Address" placeholder=" Skriv adress">
            </div>

            <div class="range_container">
                        
                <div class="sliders_control">
                    <input id="fromSlider" type="range" value="0" min="0" max="10000"/>
                    <input id="toSlider" type="range" value="10000" min="0" max="10000"/>
                </div>

                <div class="form_control">

                    <div class="form_control_container">
                        <div class="form_control_container__time min">Min</div>
                        <input asp-for="MinPrice" class="form_control_container__time__input" name="MinPrice" type="number" id="fromInput" value="0" min="0" max="10000"/>
                    </div>

                    <div class="form_control_container">
                        <div class="form_control_container__time max">Max</div>
                        <input asp-for="MaxPrice" class="form_control_container__time__input" name="MaxPrice" type="number" id="toInput" value="10000" min="0" max="10000"/>
                    </div>
                            
                </div>

            </div>
        </div>
            <div class="search__container-bottom">
                <button type="submit" class="search__container-btn-sort search-text-box">Filtrera efter bostad</button>
            </div>
    </form>
</div>

